<article class="post">
  <div class="title">
    {{title}}
  </div>
  <div>
    {{post_text}}
  </div>
  <div class="meta">
    {{comments.length}} {{format_plural "comment" comments.length}}
  </div>
</article>